registry=https://registry.npmjs.org
https://registry.npmjs.org/:_authToken=${NPM_TOKEN}
auto-install-peers = true
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_TOKEN}
